.experience{
    &__bg{
        background-image: url('../images/size_p_5_0.jpg');
        position: relative;
        background-position: center;
        background-size: cover;
        height: auto;
        background-repeat: no-repeat;
    }
}