@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

html {
    //   18px
    font-size: 112.5%;
    @media #{$md}{
        font-size: 68.75%;
    }
    @media #{$sm}{
        font-size: 68.75%;
    }
    @media #{$xs}{
        font-size: 87.5%;
    }
}
body{
    font-family: 'Open Sans', sans-serif;
}
